<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Bench4Q</display-name>
	<description>Bench4Q</description>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>easy.testing.sut.config.WebConfig</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.HomeServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.ShoppingCartServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>OrderInquiryServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.OrderInquiryServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>OrderDisplayServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.OrderDisplayServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SearchRequestServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.SearchRequestServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ExecuteSearchServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.ExecuteSearchServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>NewProductsServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.NewProductsServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BestSellersServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.BestSellersServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ProductDetailServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.ProductDetailServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CustomerRegistrationServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.CustomerRegistrationServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BuyRequestServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.BuyRequestServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BuyConfirmServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.BuyConfirmServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AdminRequestServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.AdminRequestServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AdminResponseServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.AdminResponseServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>
			org.bench4q.servlet.ImageServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/shopping_cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderInquiryServlet</servlet-name>
		<url-pattern>/order_inquiry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderDisplayServlet</servlet-name>
		<url-pattern>/order_display</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchRequestServlet</servlet-name>
		<url-pattern>/search_request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExecuteSearchServlet</servlet-name>
		<url-pattern>/execute_search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewProductsServlet</servlet-name>
		<url-pattern>/new_products</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BestSellersServlet</servlet-name>
		<url-pattern>/best_sellers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductDetailServlet</servlet-name>
		<url-pattern>/product_detail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerRegistrationServlet</servlet-name>
		<url-pattern>/customer_registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyRequestServlet</servlet-name>
		<url-pattern>/buy_request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyConfirmServlet</servlet-name>
		<url-pattern>/buy_confirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminRequestServlet</servlet-name>
		<url-pattern>/admin_request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminResponseServlet</servlet-name>
		<url-pattern>/admin_response</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
